<app-menu></app-menu>
<section class="heading">
    <span class='component-title'>[{{title}}]</span>
  </section>
  <main class="single">
    <table class="table table-sm">
      <tr>
        <td>
            Actor ID:
        </td>
        <td>
            <input [(ngModel)]="credit.actorID.id" class="rounded" type="number">
        </td>
      </tr>
      <tr>
        <td>
            Movie ID:
        </td>
        <td>
            <input [(ngModel)]="credit.movieID.id" class="rounded" type="number">
        </td>
      </tr>
      <tr>
        <td>
            Role:
        </td>
        <td>
            <input [(ngModel)]="credit.role" class="rounded" type="text">
        </td>
      </tr>
    </table>
  </main>
  <span><button (click)="save()" class="btn btn-sm btn-primary">{{submitBtnTitle}}</button></span> |
  <!-- <span><button (click)="backClicked()" class="btn btn-sm btn-primary">Back</button></span> -->
<br>
